:root {
    --main-color-white: #ffffff;
    --primary-tekst-color: #757575;
    --title-tekst-color: #212121;
    --accent-color: #2196f3;
    --accent-active: #188ce8;
    --background-color: #f5f4fa;
    --backgroung-color-accent: #2f303a;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --border-works-color: #eeeeee;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}